<section class="module">
    <app-loading [loading]="loading"></app-loading>
    <header class="top-bar">
        <div class="left">
            <span class="icon typicons-message"></span>
            <h1>Feedback - {{foodName}}</h1>
        </div>
        <div class="right">
            <span class="icon typicons-minus"></span>
            <span class="icon typicons-times"></span>
        </div>
    </header>

    <ol class="discussion">
        <div *ngFor="let m of messages">
            <li [class.other]="m.chatAlignLeft==true" [class.self]="m.chatAlignLeft==false">
                <div class="avatar">
                    <img src="{{ apiUrl }}api/SPUser/GetAvatar?Id={{
                        m.Id
                      }}&avatarName={{ m.Name }}" />
                </div>
                <div class="messages">
                    <p>{{m.what}}</p>
                    <time>{{m.who}}</time>
                </div>
            </li>
        </div>
    </ol>
</section>

<div class="summary-dishes-dialog">
    <div class="dialog-actions">
        <button mat-raised-button (click)="closeDialog($event)">
            Close
        </button>
    </div>
</div>