<section fxLayout="row wrap" fxLayoutAlign="center">
    <mat-card>
      <mat-card-title>Add User To Admin Role</mat-card-title>
  
      <form
        autocomplete="off"
      >
        <div class="tp-container">
        <app-permisson-setting-usetable (ListenChildComponentEvent)="notifyMessage($event)" [SettingType]="SettingType"></app-permisson-setting-usetable>
          <mat-card-actions align="right">
            <button
              mat-flat-button
              color="primary"
              (click)="getMemberAdminGroup()"
            >
              Update
            </button>
            <button type="button" mat-stroked-button (click) ="onNoClick()">
              Cancel
            </button>
          </mat-card-actions>
        </div>
      </form>
    </mat-card>
  </section>
  
  <app-loading [loading]="loading"></app-loading>