<form class="example-form">
  <section fxLayout="row wrap" fxLayoutAlign="center">
    <app-permission-search-mutipeople
      (ListenChildComponentEvent)="notifyMessage($event)"
    >
    </app-permission-search-mutipeople>
    <mat-spinner diameter="15" *ngIf="loading"></mat-spinner>
    <table mat-table [dataSource]="tbSource">
      <ng-container matColumnDef="Avatar">
        <th mat-header-cell *matHeaderCellDef>Avatar</th>
        <td mat-cell *matCellDef="let element">
          <div class="avatar-padding">
            <img
              id="avatar"
              class="make-circle-avatar"
              src="{{ apiUrl }}api/SPUser/GetAvatar?Id={{
                element.Id
              }}&avatarName={{ element.DisplayName }}"
            />
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.DisplayName }}</td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.Mail }}</td>
      </ng-container>
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            matTooltip="Delete user from list"
            (click)="DeleteUser(element)"
          >
            <i class="material-icons">delete</i>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</form>
