<mat-form-field class="example-full-width">
  <div class="inline">
    <input
      matInput
      type="text"
      placeholder="Select Users"
      aria-label="Select Users"
      matInput
      [matAutocomplete]="auto"
      [formControl]="userControl"
      class="inline"
    />
    <mat-spinner diameter="20" *ngIf="loading" class="inline"></mat-spinner>
  </div>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let user of filteredUsers" [value]="user">
    <div (click)="optionClicked($event, user)">
      <mat-checkbox [checked]="user.IsSelected">
        {{user.Mail}}
      </mat-checkbox>
    </div>
  </mat-option>
</mat-autocomplete>

<br /><br />

<label>Selected Users:</label>
<mat-list dense>
  <mat-list-item *ngIf="selectedUsers?.length === 0">(None)</mat-list-item>
  <mat-list-item *ngFor="let user of selectedUsers">
    {{ user.DisplayName }}
  </mat-list-item>
</mat-list>
